In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas_profiling as pdp
from scripts.project_functions import data_processing

In [20]:
df = data_processing("../raw/Medical_Cost.csv")

In [21]:
df

      Age     Sex     BMI  Children Smoker     Region      Charges
0      54  female  47.410         0    yes  southeast  63770.42801
1      45    male  30.360         0    yes  southeast  62592.87309
2      52    male  34.485         3    yes  northwest  60021.39897
3      31  female  38.095         1    yes  northeast  58571.07448
4      33  female  35.530         0    yes  northwest  55135.40209
...   ...     ...     ...       ...    ...        ...          ...
1333   18    male  34.100         0     no  southeast   1137.01100
1334   18    male  33.660         0     no  southeast   1136.39940
1335   18    male  33.330         0     no  southeast   1135.94070
1336   18    male  30.140         0     no  southeast   1131.50660
1337   18    male  23.210         0     no  southeast   1121.87390

[1338 rows x 7 columns]